/vendor
/logs
*.log
/.idea
/.vscode
/.vagrant
/database/database.sqlite
/coverage
.env
/node_modules
*.taskpaper
*.cache
.phpunit.result.cache
/database/migrations
box.json
app/Http/Controllers
app/Http/Resources
app/Http/Utilities
app/Models
database/
NOTES.md
app/Test/
TODO.md
app/Http/
resources/
app/Post.php
app/Test.php
templates/custom.mustache
