/vendor
/logs
*.log
/.idea
/.vscode
/.vagrant
/database/database.sqlite
/coverage
.env
/node_modules
*.taskpaper
*.cache
.phpunit.result.cache
/database/migrations
box.json
app/Http/Controllers
app/Http/Utilities
app/Models
database/
NOTES.md
tasks/
builds/
app/Test/
