<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
{{model_path}}

class {{className}} extends Controller
{
    public function index()
    {
        $data = {{model}}::all();
        return view('{{tablename}}.index', compact("data"));
    }

    public function create()
    {
        return view('{{tablename}}.create');
    }

    public function store(Request $request)
    {
        $data = {{model}}::create($request->all());
return view('{{tablename}}.show', compact("data"));
}

public function show($id)
{
$data = {{model}}::findOrFail($id);
return view('{{tablename}}.detail', compact("data"));
}

public function edit({{binding}})
{
return view('{{tablename}}.detail', compact($data));
}

public function update(Request $request, $id)
{
$data = {{model}}::find($id)->update($request->all());
return view('{{tablename}}.detail', compact("data"));
}

public function destroy($id)
{
$row = {{model}}::findOrFail($id);
$row->delete();
$data = {{model}}::all();
return view('{{tablename}}.index', compact("data"));
}
}
