<?php

use Illuminate\Support\Facades\Schema;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Database\Migrations\Migration;

class Create{{model}}Table extends Migration
{
    public function up()
    {
        {{#update}}
        Schema::table('{{tablename}}', function (Blueprint $table) {
            {{{fields}}}
        });
        {{/update}}
        {{#create}}
        Schema::create('{{tablename}}', function (Blueprint $table) {
            $table->bigIncrements('id');
            {{#foreign}}
            $table->unsignedBigInteger('{{fk}}');
            {{/foreign}}
            {{{fields}}}
            {{#current}}
            $table->timestamp('created_at')->useCurrent();
            $table->timestamp('updated_at')->useCurrent();
            {{/current}}
            {{^current}}
            $table->timestamps();
            {{/current}}
            {{#foreign}}

            $table->foreign('{{{fk}}}')->references('{{{pkid}}}')->on('{{{pktable}}}');
            {{/foreign}}
        });
        {{/create}}
}

{{#down}}
    /**
    * Reverse the migrations.
    *
    * @return void
    */
    public function down()
    {
        Schema::dropIfExists('{{tablename}}');
    }
{{/down}}
}
