<?php

use Illuminate\Database\Migrations\Migration;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Support\Facades\Schema;
use {{model_path}};

class Create{{model}}sTable extends Migration
{
    public function up()
    {
        Schema::create('{{tablename}}', function (Blueprint $table) {
            $table->bigIncrements('id');
{{{fields}}}
$table->timestamps();
});
}

{{#down}}
    /**
    * Reverse the migrations.
    *
    * @return void
    */
    public function down()
    {
    Schema::dropIfExists('{{tablename}}');
    }
{{/down}}
}
