<?php

use Illuminate\Database\Migrations\Migration;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Support\Facades\Schema;
{{model_path}}

class Create{{model}}Table extends Migration
{
    public function up()
    {
        Schema::create('{{tablename}}', function (Blueprint $table) {
            $table->bigIncrements('id');
            {{{fields}}}

            {{#current}}
            $table->timestamps()
            {{/current}}
            {{^current}}
            $table->timestamp('created_at')->useCurrent();
            $table->timestamp('updated_at')->useCurrent()
            {{/current}}

            {{#foreign}}
            $table->foreign('{{fk}}'')
            ->references('{{pkid}}'')->on('{{pktable}}'')
            {{#delete}}->onDelete('cascade'){{/delete}}
            {{#update}}->onUpdate('cascade'){{/update}};
            {{/foreign}}
            ;
});
}

{{#down}}
    /**
    * Reverse the migrations.
    *
    * @return void
    */
    public function down()
    {
        Schema::dropIfExists('{{tablename}}');
    }
{{/down}}
}
