<?php

namespace App\Http\Resources;

{{#collection}}
use Illuminate\Http\Resources\Json\ResourceCollection;

{{/collection}}
    {{^collection}}
use Illuminate\Http\Resources\Json\JsonResource;

{{/collection}}
class {{className}} extends JsonResource
{
    /**
     * Transform the resource into an array.
     *
     * @param  \Illuminate\Http\Request  $request
     * @return array
     */
    public function toArray($request)
    {
        return parent::toArray($request);
    }
}
